p{
    font-size: 18px;
    font-weight: 400;;
}

#logo{
    height: 100px;
    width: auto;
}

header{
    background-color: aqua;
    background-image: url("C:/Boolean/html-css-booleaner/img/pattern.png");
    height: 200px;
    width: 100%;
}

.blue-text{
    color:blue;
}

.evidenziato{
    background-color: yellow;
}
