ul{
    padding:20px;
}

nav{
    background-color: aqua;
    background-image: url("C:/Boolean/html-css-booleaner/img/pattern.png");
    height: 200px;
    width: 100%;
}

p{
    font-size: 18px;
    font-weight: 400;;
}

th{
    color:white;
    font-weight: bold;
}

/* stile del logo nell'header */
#logo{   
    height: 100px;
    width: auto;
    position: relative;
    top: 50%;
}

/* prima riga della tabella */
#header-row{
    background-color: rgb(41, 60, 95);
}

/* ultime celle a destra della tabella */
#cella-finale{
    width: 50%;  
    height: auto;
    text-align: left;
}

#monitor{
    background-image: url("C:/Boolean/html-css-booleaner/img/monitor.jpg");
    background-size: contain;
}

#graph{
    background-image: url("C:/Boolean/html-css-booleaner/img/graph.jpg");
    background-size: contain;
} 


.blue-text{
    color:blue;
}


.evidenziato{
    background-color: yellow;
}

/* celle della tabella */
.celle{
    width: 20%;
    height: auto;
    text-align: left;
}

/* colore delle righe */
.color-row{
    background-color: rgb(121, 168, 255);
}

.font-grey{
    color:grey;
}

.immagini{
    display: block;
}

.square{
    margin-bottom: 10px;
    padding:10px;
    width: 200px;
    height: 130px;
}

.white-bold{
    color: white;
    font-weight: bold;
}




