ul{
    padding:15px;
}

header{
    background-color: aqua;
    background-image: url("C:/Boolean/html-css-booleaner/img/pattern.png");
    height: 200px;
    width: 100%;
}

p{
    font-size: 18px;
    font-weight: 400;;
}

th{
    color:white;
    font-weight: bold;
}

#logo{
    height: 100px;
    width: auto;
}

#header-row{
    background-color: rgb(41, 60, 95);
}

#cella-finale{
    width: 50%;  
    height: auto;
    text-align: left;
}

.blue-text{
    color:blue;
}

.evidenziato{
    background-color: yellow;
}

.celle{
    width: 20%;
    height: auto;
    text-align: left;
}




