*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}
 /* nav */
nav{
    height: 200px;
    width: 100%;

    padding-top: 100px;
    padding-left:10px;
    
    background-color: aqua;
    background-image: url("../img/pattern.png");
}

#logo{   
    height: 100px;
    width: auto;

}

 /* fine nav */


body>div{
    padding-left: 10px;
    padding-right:10px;
}


/* header */
.blue-text{
    color:blue;
}

.font-grey{
    color:grey;
}

.font-grey:last-of-type{
    margin-bottom:20px;
}


/* fine header */

/* main */
figcaption:last-of-type{
    margin-bottom: 20px;
}

ul{
    padding:20px;
}

p{

    margin-bottom:20px;

    font-size: 18px;
    font-weight: 400;
}

.evidenziato{
    background-color: yellow;
}
/* fine main */


/* table */
th{
    color:white;
    font-weight: bold;
}

table{
    border-collapse: collapse;

    margin-bottom:20px;
}

#header-row{
    background-color: rgb(41, 60, 95);
}

#cella-finale{
    width: 50%;  
    height: auto;
    text-align: left;
}

.celle{
    width: 20%;
    height: auto;
    text-align: left;
}

.color-row{
    background-color: rgb(121, 168, 255);
}
/* fine table */


/* feed */
#feed{
    font-size: 1em;
}

#monitor{
    background-image: url("../img/monitor.jpg");
    background-size: 100% 100%;
}

#graph{
    background-image: url("../img/graph.jpg");
    background-size: 100% 100%;
}

.square{
    margin-bottom: 10px;
    padding:10px;
    width: 200px;
    height: 130px;
}

.white-bold{
    color: white;
    font-weight: bold;
}
/* fine feed */











